*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
}
body{
    height: 100vh;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
    height: 60px;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;    
}
li{
    text-align: center;
    padding: 14px 12px;
}
a{
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
}
.menu-despe{
    *background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.menu-despe:hover{
    background-color: rgba(100, 100, 100, 0.1);
    cursor: pointer;
}
.menu-boton{
    width: 15px;
}
.foto-perfil{
    border-radius: 50%;
    width: 100%;
}
.buscador{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    position: relative;
    margin-top: 30px;
}
input{
    width: 580px;
    height: 45px;
    padding-left: 50px;
    border-radius: 45px;
    border: 1px solid #d3d3d3;
}
input:hover{
    box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}
input:focus{
    outline: none;
}
.search{
    width: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.mic{
    width: 15px;
    position: absolute;
    top: 12px;
    left: 545px;
}
button{
    border:  1px solid transparent;
    padding: 8px 12px;
    background-color: #f8f9fa;
    border-radius: 5px;
}
button:hover{
    border: 1px solid #eee;
    box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.5);
    cursor:pointer;
}
.boton{
    width: 350px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
footer{
    width: 100%;
    background-color: #f2f2f2;
}
.panel{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    height: 50px;
    padding: 15px;
}
p{
    color: grey;
    padding: 15px 0px 15px 24px;
}
.pane{
    height: 50px;
    border-bottom: 1px solid #ddd;
}